<template>
  <div>
    <b-row class="mt-3">
      <b-col class="mx-5">
        <b-form-group label="Konto pieniężne:" style="color:#FFF;font-weight: bold;">
          <b-form-select v-model="accountId" :options="optionsMoneyAccountsList"/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="mt-2">
      <b-col/>
      <b-col class="mx-5" sm="6">
        <b-form-group label="Kwota:" style="color:#FFF;font-weight: bold;">
          <b-input-group>
            <b-input type="number" min="0.00" max="9999999.99" step="0.01" required placeholder="Kwota"
                     :state="amountValidation" v-model="amount"/>
            <div class="input-group-prepend">
              <div class="input-group-text" style="border-radius: 0 0.25rem 0.25rem 0;">
                zł
              </div>
            </div>
            <b-form-invalid-feedback :state="amountValidation">
              Kwota powinna być z przedziału 0,00 - 9999999.99!
            </b-form-invalid-feedback>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col/>
    </b-row>
    <b-row class="mt-3 mx-3">
      <b-col>
        <b-form-group label="Kategoria:" style="color:#FFF;font-weight: bold;">
          <b-form-select v-model="categoryId" :options="optionsCategoryList" @change="updateSubcategory"/>
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group label="Podkategoria:" style="color:#FFF;font-weight: bold;">
          <b-form-select v-model="subcategoryId" :options="optionsSubcategoryList"/>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  export default {
    name: 'NewEntryIncomeOutcome',
    props: ['income', 'categoryList', 'moneyAccountsList', 'sigValidate', 'amountProp'],
    data () {
      return {
        accountId: null,
        optionsMoneyAccountsList: [],
        amount: 0.00,
        amountValidation: null,
        categoryId: null,
        optionsCategoryList: [],
        subcategoryId: null,
        optionsSubcategoryList: []
      }
    },
    created () {
      const size = this.moneyAccountsList.length
      for (let i = 0; i < size; ++i) {
        this.optionsMoneyAccountsList.push({
          value: this.moneyAccountsList[i].accountId,
          text: this.moneyAccountsList[i].name
        })
      }

      this.accountId = this.optionsMoneyAccountsList[0].value

      this.updateCategory()
    },
    methods: {
      updateSubcategory () {
        const size = this.categoryList.length
        for (let i = 0; i < size; ++i) {
          if (this.categoryList[i].categoryId === this.categoryId) {
            this.optionsSubcategoryList = []

            const size1 = this.categoryList[i].subcategory.length
            for (let j = 0; j < size1; ++j) {
              this.optionsSubcategoryList.push({
                value: this.categoryList[i].subcategory[j].subcategoryId,
                text: this.categoryList[i].subcategory[j].name
              })
            }

            this.subcategoryId = this.optionsSubcategoryList[0].value

            break
          }
        }
      },
      updateCategory () {
        let size = this.categoryList.length
        this.optionsCategoryList = []

        for (let i = 0; i < size; ++i) {
          if (this.income === 'true') {
            if (this.categoryList[i].is_income === true) {
              this.optionsCategoryList.push({
                value: this.categoryList[i].categoryId,
                text: this.categoryList[i].name
              })
            }
          } else {
            if (this.categoryList[i].is_income === false) {
              this.optionsCategoryList.push({
                value: this.categoryList[i].categoryId,
                text: this.categoryList[i].name
              })
            }
          }
        }
        if (this.optionsCategoryList.length > 0) {
          this.categoryId = this.optionsCategoryList[0].value

          size = this.categoryList[0].subcategory.length
          for (let i = 0; i < size; ++i) {
            this.optionsSubcategoryList.push({
              value: this.categoryList[0].subcategory[i].subcategoryId,
              text: this.categoryList[0].subcategory[i].name
            })
          }

          this.subcategoryId = this.optionsSubcategoryList[0].value
          this.updateSubcategory()
        }
      },
      updateParentData () {
        this.$emit('updateParent', this.accountId, this.amount, this.categoryId, this.subcategoryId, this.income)
      },
      validateAmount () {
        if (this.amount < 0.01 || this.amount > 9999999.99) {
          this.amountValidation = false
        } else {
          this.amountValidation = true
        }
      }
    },
    watch: {
      accountId (val) {
        this.updateParentData()
      },
      amount (val) {
        this.validateAmount()
        this.updateParentData()
      },
      amountProp (val) {
        if (this.amountProp !== this.amount) {
          this.amount = this.amountProp
        }
      },
      categoryId (val) {
        this.updateParentData()
      },
      subcategoryId (val) {
        this.updateParentData()
      },
      sigValidate (val) {
        if (this.sigValidate === true) {
          this.validateAmount()
        } else {
          this.amountValidation = null
        }
      }
    }
  }
</script>

<style scoped>

</style>
