<template>
  <div>
    <b-row class="mt-3" v-if="optionsMoneyAccountsList.length > 1">
      <b-col class="mx-5">
        <b-form-group label="Źródłowe konto pieniężne:" style="color:#FFF;font-weight: bold;">
          <b-form-select v-model="sourceAccountId" :options="optionsMoneyAccountsList" :state="accountValidation"/>
          <b-form-invalid-feedback :state="amountValidation">
            Konto źródłowe i docelowe nie może być to samo!
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="mt-3" v-if="optionsMoneyAccountsList.length > 1">
      <b-col/>
      <b-col class="mx-5" sm="6">
        <b-form-group label="Kwota:" style="color:#FFF;font-weight: bold;">
          <b-input-group>
            <b-input type="number" min="0.00" max="9999999.99" step="0.01" required placeholder="Kwota"
                     :state="amountValidation" v-model="amount"/>
            <div class="input-group-prepend">
              <div class="input-group-text" style="border-radius: 0 0.25rem 0.25rem 0;">
                zł
              </div>
            </div>
            <b-form-invalid-feedback :state="amountValidation">
              Kwota powinna być z przedziału 0,00 - 9999999.99!
            </b-form-invalid-feedback>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col/>
    </b-row>
    <b-row class="mt-3" v-if="optionsMoneyAccountsList.length > 1">
      <b-col class="mx-5">
        <b-form-group label="Docelowe konto pieniężne:" style="color:#FFF;font-weight: bold;">
          <b-form-select v-model="destinationAccountId" :options="optionsMoneyAccountsList" :state="accountValidation"/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row v-else>
      <b-col class="mt-5">
        <h2 style="color:#FFF">
          Za mało kont pieniężnych!!
        </h2>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  export default {
    name: 'NewEntryTransfer',
    props: ['moneyAccountsList', 'sigValidate', 'amountProp'],
    data () {
      return {
        sourceAccountId: null,
        destinationAccountId: null,
        optionsMoneyAccountsList: [],
        amountValidation: null,
        accountValidation:null,
        amount: 0
      }
    },
    methods: {
      updateParentData () {
        this.$emit('updateParent', this.sourceAccountId, this.destinationAccountId, this.amount)
      },
      checkAccountCorrection () {
        if (this.sourceAccountId === this.destinationAccountId) {
          this.accountValidation = false
        } else {
          this.accountValidation = null
        }
      },
      validateAmount () {
        if (this.amount < 0 || this.amount > 9999999.99) {
          this.amountValidation = false
        } else {
          this.amountValidation = true
        }
      }
    },
    created () {
      const size = this.moneyAccountsList.length
      if (size > 1) {
        for (let i = 0; i < size; ++i) {
          this.optionsMoneyAccountsList.push({
            value: this.moneyAccountsList[i].accountId,
            text: this.moneyAccountsList[i].name
          })
        }

        this.sourceAccountId = this.optionsMoneyAccountsList[0].value
        this.destinationAccountId = this.optionsMoneyAccountsList[1].value
      }
    },
    watch: {
      destinationAccountId (val) {
        this.checkAccountCorrection()
        this.updateParentData()
      },
      amount (val) {
        this.validateAmount()
        this.updateParentData()
      },
      amountProp (val) {
        if (this.amountProp !== this.amount) {
          this.amount = this.amountProp
        }
      },
      sourceAccountId (val) {
        this.checkAccountCorrection()
        this.updateParentData()
      },
      sigValidate (val) {
        if (this.sigValidate === true) {
          this.validateAmount()
          this.checkAccountCorrection()
        } else {
          this.amountValidation = null
          this.accountValidation = null
        }
      }
    }
  }
</script>

<style scoped>

</style>
