<template>
  <div class="entry-opened">
    <ul>
      <li>Kategoria</li>
      <li>Subkategoria</li>
      <li>nazwa konta</li>
      <li>Przychód</li>
      <li>20-04-2020 10:55</li>
      <li>Ta święta woda!!</li>
    </ul>
    <div class="entry-amount">
      -15,00zł
    </div>
  </div>
</template>

<script>
	export default {
		name: 'EntryOpened',
    props: ['entryData']
	}
</script>

<style scoped>

</style>
