@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


/* Variables block */
:root {
  --main-color:#c07bff;
  --main-white-background:#EFEFEF;
  --main-component-background: #d7d7d7;

  --button-hover: #747474;
}
/* End variables block */


html, body{
  padding:0;
  margin:0;
  overflow:hidden;
}

#app{

}

.app-window{
  height:100vh;
  max-height:100vh;
  width:100vw;
  max-width:100vw;
}
.app-container{
  width:calc(100vw - 3.501em);
  float:right;
}

.scrollable{
  height:100vh;
  overflow: auto;

}

.container-xxl{
  width:100% !important;
}

@media (min-width: 1600px) {
.container-xxl{
  max-width:1600px !important;
}
}
